@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #F2F2F2;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: var(--foreground-rgb);
  background: #181818;
}


.hover-this:hover ~ .cursor {
  transform: translate(-50%, -50%) scale(8);
}
